{% extends "base.html" %}


{% block content %}

    <br>
   	<p>signup.</p>
<!-- To jest taki ciuczek, żeby pokazywać nad formularzem wiadomości o błędach, w app.py funkcja flash() -->
       {% with messages = get_flashed_messages() %}
       {% if messages %}
       <ul class=flashes>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
       </ul>
       {% endif %}
       {% endwith %}


    <div class="form-wrapper">

        <form style="text-align:center" action="{{ url_for('signup') }}" method="post">
        
            {{ form.csrf_token() }}

            <p>
            {{ form.user.label() }}
            {{ form.user }}
            </p>

            <p>
            {{ form.password.label() }}
            {{ form.password }}
            </p>

            <p>
            {{ form.confirm_password.label() }}
            {{ form.password }}
            </p>

            <p>
            {{ form.email.label() }}
            {{ form.email }}
            </p>
            
            {{ form.submit }}

        </form>
    </div>
{% endblock %}
